In [1]:
import dask.dataframe as dd

In [2]:
help(dd.read_csv)

Help on function read_csv in module dask.dataframe.io.csv:

read_csv(urlpath, blocksize=64000000, collection=True, lineterminator=None, compression=None, sample=256000, enforce=False, assume_missing=False, storage_options=None, include_path_column=False, **kwargs)
    Read CSV files into a Dask.DataFrame

    This parallelizes the :func:`pandas.read_csv` function in the following ways:

    - It supports loading many files at once using globstrings:

        >>> df = dd.read_csv('myfiles.*.csv')  # doctest: +SKIP

    - In some cases it can break up large files:

        >>> df = dd.read_csv('largefile.csv', blocksize=25e6)  # 25MB chunks  # doctest: +SKIP

    - It can read CSV files from external resources (e.g. S3, HDFS) by
      providing a URL:

        >>> df = dd.read_csv('s3://bucket/myfiles.*.csv')  # doctest: +SKIP
        >>> df = dd.read_csv('hdfs:///myfiles.*.csv')  # doctest: +SKIP
        >>> df = dd.read_csv('hdfs://namenode.example.com/myfiles.*.csv')  # doctest: +SKIP

    Internally ``dd.read_csv`` uses :func:`pandas.read_csv` and supports many of the
    same keyword arguments with the same performance guarantees. See the docstring
    for :func:`pandas.read_csv` for more information on available keyword arguments.

    Parameters
    ----------
    urlpath : string or list
        Absolute or relative filepath(s). Prefix with a protocol like ``s3://``
        to read from alternative filesystems. To read from multiple files you
        can pass a globstring or a list of paths, with the caveat that they
        must all have the same protocol.
    blocksize : str, int or None, optional
        Number of bytes by which to cut up larger files. Default value is
        computed based on available physical memory and the number of cores.
        If ``None``, use a single block for each file.
        Can be a number like 64000000 or a string like "64MB"
    collection : boolean, optional
        Return a dask.dataframe if True or list of dask.delayed objects if False
    sample : int, optional
        Number of bytes to use when determining dtypes
    assume_missing : bool, optional
        If True, all integer columns that aren't specified in ``dtype`` are assumed
        to contain missing values, and are converted to floats. Default is False.
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc.
    include_path_column : bool or str, optional
        Whether or not to include the path to each particular file. If True a new
        column is added to the dataframe called ``path``. If str, sets new column
        name. Default is False.
    **kwargs
        Extra keyword arguments to forward to :func:`pandas.read_csv`.

    Notes
    -----
    Dask dataframe tries to infer the ``dtype`` of each column by reading a sample
    from the start of the file (or of the first file if it's a glob). Usually this
    works fine, but if the ``dtype`` is different later in the file (or in other
    files) this can cause issues. For example, if all the rows in the sample had
    integer dtypes, but later on there was a ``NaN``, then this would error at
    compute time. To fix this, you have a few options:

    - Provide explicit dtypes for the offending columns using the ``dtype``
      keyword. This is the recommended solution.

    - Use the ``assume_missing`` keyword to assume that all columns inferred as
      integers contain missing values, and convert them to floats.

    - Increase the size of the sample using the ``sample`` keyword.

    It should also be noted that this function may fail if a CSV file
    includes quoted strings that contain the line terminator. To get around this
    you can specify ``blocksize=None`` to not split files into multiple partitions,
    at the cost of reduced parallelism.

In [3]:
import sys

In [4]:
if sys.platform == 'win32' : 
    df = dd.read_csv(r"D:\data\LANL-Earthquake-Prediction/train.csv")
else :
    df = dd.read_csv("../../data/earthquake/train.csv")

In [5]:
df

Dask DataFrame Structure:
                acoustic_data time_to_failure
npartitions=150
                        int64         float64
                          ...             ...
...                       ...             ...
                          ...             ...
                          ...             ...
Dask Name: from-delayed, 450 tasks

In [6]:
df.acoustic_data.count().compute()

629145480

In [7]:
df.time_to_failure.mean().compute()

5.678291712978874

In [8]:
df.shape[0].compute()

629145480

In [9]:
len(df)

629145480

In [10]:
df.tail()

         acoustic_data  time_to_failure
1304332              7         9.759796
1304333              9         9.759796
1304334             10         9.759796
1304335              6         9.759796
1304336              5         9.759796

In [11]:
help(df.loc)

Help on _LocIndexer in module dask.dataframe.indexing object:

class _LocIndexer(_IndexerBase)
 |  _LocIndexer(obj)
 |
 |  Helper class for the .loc accessor
 |
 |  Method resolution order:
 |      _LocIndexer
 |      _IndexerBase
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getitem__(self, key)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from _IndexerBase:
 |
 |  __init__(self, obj)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _IndexerBase:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [12]:
df.loc[2647247].count().compute()

acoustic_data      149
time_to_failure    149
dtype: int64

In [13]:
df.acoustic_data.nlargest(40).compute()

2647247    5444
2647248    5310
2647246    5188
1056717    5115
1056718    4998
1238736    4886
2647249    4855
1238737    4854
1056716    4799
2258797    4610
2647056    4600
2258798    4570
2647245    4561
1238735    4561
1056719    4524
2647057    4445
1238738    4415
2647055    4388
2258796    4379
215814     4317
1466215    4281
2258799    4246
215398     4198
1056804    4177
1056805    4175
215397     4159
2647250    4127
1466214    4115
1056715    4094
215813     4091
215815     4088
215456     4077
215684     4066
2647058    4041
1466216    4040
215685     3986
1466298    3958
215457     3954
2488788    3914
2258795    3886
Name: acoustic_data, dtype: int64

In [14]:
df.acoustic_data.nsmallest(40).compute()

805458    -5515
805457    -5474
805459    -5251
805456    -5135
1238700   -5008
1238699   -4981
1238698   -4769
1238701   -4755
805460    -4685
370866    -4621
370865    -4559
805455    -4524
2929943   -4482
1238697   -4406
215448    -4392
2929942   -4379
370867    -4312
3115867   -4299
215447    -4283
2929944   -4281
1238702   -4247
851404    -4203
3115868   -4110
370864    -4094
215948    -4087
1056984   -4079
215949    -4075
851403    -3988
2929941   -3980
3115866   -3979
1238606   -3975
1238696   -3968
851405    -3926
1056985   -3917
215449    -3912
1466907   -3905
370651    -3881
1238607   -3863
805461    -3862
215947    -3846
Name: acoustic_data, dtype: int64

In [15]:
df_temp = df.loc[2647200: 2647400, :].compute()

In [16]:
2647400 - 2647200

200

In [17]:
df_temp.head()

         acoustic_data  time_to_failure
2647200              7         0.781799
2647201             10         0.781799
2647202              5         0.781799
2647203              5         0.781799
2647204              9         0.781799

In [18]:
df_temp.tail()

         acoustic_data  time_to_failure
2647396              1        10.519496
2647397              4        10.519496
2647398              5        10.519496
2647399              4        10.519496
2647400              4        10.519496

In [19]:
df_temp.shape

(29949, 2)

In [20]:
len(df_temp.index)

29949

In [21]:
df_temp.loc[2647201]

         acoustic_data  time_to_failure
2647201             10         0.781799
2647201              7        11.266298
2647201              4        10.197997
2647201              2         9.089296
2647201              6         7.982796
2647201              1         6.877300
2647201              3         5.773900
2647201              3         4.672699
2647201              2         3.573598
2647201              4         2.471298
2647201             14         1.371096
2647201             13         0.274098
2647201              3        13.433700
2647201              6        12.324996
2647201              4        11.216298
2647201              0        10.109800
2647201              4         9.005398
2647201             -1         7.902000
2647201              0         6.801798
2647201              8         5.703796
2647201              3         4.601499
2647201              1         3.500300
2647201            -11         2.401199
2647201             13         1.303098
2647201              0         0.213599
2647201             10         8.044899
2647201              4         6.936196
2647201              5         5.827499
2647201              9         4.722000
2647201             -2         3.618700
...                ...              ...
2647201              8         6.422096
2647201              7         5.314497
2647201              4         4.207897
2647201              3         3.104598
2647201              3         2.003297
2647201              2         0.903197
2647201              0        14.590098
2647201             -4        13.531397
2647201              5        12.422698
2647201              2        11.316199
2647201              5        10.210700
2647201              6         9.107298
2647201              6         8.004998
2647201             16         6.904898
2647201             12         5.805799
2647201             -1         4.707697
2647201             11         3.607598
2647201              7         2.509496
2647201              2         1.411497
2647201             51         0.313399
2647201              7         8.755197
2647201             -1         7.645398
2647201              1         6.536799
2647201              1         5.431297
2647201              7         4.326799
2647201              4         3.225596
2647201             -1         2.124400
2647201              6         1.026297
2647201              1        11.571797
2647201              1        10.519496

[149 rows x 2 columns]

In [22]:
df_temp.duplicated

<bound method DataFrame.duplicated of          acoustic_data  time_to_failure
2647200              7         0.781799
2647201             10         0.781799
2647202              5         0.781799
2647203              5         0.781799
2647204              9         0.781799
2647205             10         0.781799
2647206              8         0.781799
2647207              6         0.781799
2647208              1         0.781799
2647209             -4         0.781799
2647210              6         0.781799
2647211              6         0.781799
2647212             -1         0.781799
2647213              3         0.781799
2647214              1         0.781799
2647215              5         0.781799
2647216              5         0.781799
2647217              7         0.781799
2647218             12         0.781799
2647219             11         0.781799
2647220              6         0.781799
2647221              5         0.781799
2647222              7         0.781799
2647223              3         0.781799
2647224              5         0.781799
2647225              7         0.781799
2647226              4         0.781799
2647227              6         0.781799
2647228              4         0.781799
2647229              5         0.781799
...                ...              ...
2647371              4        10.519496
2647372              5        10.519496
2647373              6        10.519496
2647374              4        10.519496
2647375              5        10.519496
2647376             10        10.519496
2647377              4        10.519496
2647378              3        10.519496
2647379              3        10.519496
2647380              6        10.519496
2647381              6        10.519496
2647382              5        10.519496
2647383              4        10.519496
2647384              7        10.519496
2647385              7        10.519496
2647386              5        10.519496
2647387              3        10.519496
2647388             -1        10.519496
2647389             -2        10.519496
2647390              1        10.519496
2647391              7        10.519496
2647392              4        10.519496
2647393              4        10.519496
2647394              7        10.519496
2647395              4        10.519496
2647396              1        10.519496
2647397              4        10.519496
2647398              5        10.519496
2647399              4        10.519496
2647400              4        10.519496

[29949 rows x 2 columns]>

In [23]:
len(df_temp.index)

29949

In [24]:
df_temp.shape

(29949, 2)

In [25]:
df_temp.sort_values(by='acoustic_data')

         acoustic_data  time_to_failure
2647265          -3486           0.3203
2647264          -3434           0.3203
2647266          -3310           0.3203
2647263          -3181           0.3203
2647267          -2900           0.3203
2647262          -2825           0.3203
2647235          -2769           0.3203
2647234          -2733           0.3203
2647236          -2590           0.3203
2647233          -2476           0.3203
2647261          -2445           0.3203
2647268          -2311           0.3203
2647237          -2242           0.3203
2647260          -2099           0.3203
2647369          -2066           0.3203
2647323          -2008           0.3203
2647232          -2008           0.3203
2647368          -2000           0.3203
2647324          -1991           0.3203
2647351          -1926           0.3203
2647370          -1909           0.3203
2647350          -1894           0.3203
2647322          -1790           0.3203
2647259          -1777           0.3203
2647325          -1766           0.3203
2647367          -1751           0.3203
2647352          -1735           0.3203
2647238          -1727           0.3203
2647349          -1684           0.3203
2647269          -1584           0.3203
...                ...              ...
2647253           1333           0.3203
2647377           1350           0.3203
2647380           1401           0.3203
2647378           1471           0.3203
2647379           1496           0.3203
2647280           1527           0.3203
2647342           1587           0.3203
2647242           1624           0.3203
2647336           1628           0.3203
2647341           1902           0.3203
2647274           1919           0.3203
2647337           1963           0.3203
2647279           2086           0.3203
2647340           2100           0.3203
2647338           2151           0.3203
2647339           2187           0.3203
2647252           2273           0.3203
2647275           2406           0.3203
2647278           2562           0.3203
2647243           2683           0.3203
2647276           2722           0.3203
2647277           2794           0.3203
2647251           3226           0.3203
2647244           3692           0.3203
2647250           4127           0.3203
2647245           4561           0.3203
2647249           4855           0.3203
2647246           5188           0.3203
2647248           5310           0.3203
2647247           5444           0.3203

[29949 rows x 2 columns]